<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Garrafa KL</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div id="inicio" class="container">
                <a class="navbar-brand" href="#">
                    <img src="./water_FILL0_wght400_GRAD0_opsz48.png" alt="Ondas, e a logo do empresa">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item border border-info rounded border-1 border-opacity-25 bg-info bg-opacity-25">
                        <a class="nav-link text-black" href="#produtos">Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <article>
        <div class="fs-5 text-danger text-center shadow-lg p-3 mb-5 bg-body rounded">Produzida no Brasil. Chega a nova
            garrafa com seu próprio filtro!!</div>
    </article>
    <section class="container-fluid">
        <div class="card-group">
            <div class="card">
              <img src="./architecture-2858657_640.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">De solo brasileiro!</h5>
                <p class="card-text">Nossa empresa de solo brasileiro, somos uma empresa que nasceu por ideias de alunos de escolas públicas, e com nossa ideia vamos mudar o mundo e o ecossistema!!</p>
                <p class="card-text"><small class="text-muted">26/Outubro/2022</small></p>
              </div>
            </div>
            <div class="card">
              <img src="./plastic-4597957_640.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Ajudando no combate contra o lixo!</h5>
            <p class="card-text"><p class="text-danger">Mais de 11 milhões de toneladas de plástico entram nos oceanos do mundo a cada ano</p> Queremos reduzir os danos causado por materiais plásticos com nosso produto!
                </p>
                <p class="card-text"><small class="text-muted">23/Outubro/2022</small></p>
              </div>
            </div>
            <div class="card">
              <img src="./books-462579_640.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ajudando escolas!</h5>
                <p class="card-text">45% de nossos lucros seram destinados a escolas publicas com baixo/pouco investimento</p>
                <p class="card-text"><small class="text-muted">10/Outubro/2022</small></p>
              </div>
            </div>
          </div>
    </section>
    <article class="cor">
        <div id="produtos" class="fs-5 text-white text-center shadow-lg p-3 mb-5 rounded">Nossos produtos</div>
        </article>
        <section class="container-sm p-3">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner ">
                  <div class="carousel-item active">
                    <img src="./thermos-677527_1280.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Mais prática que as outras</h5>
                      <p><a href="#"> Compre já a sua! </a></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./thermos-677532_1280.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Única em mercado mundial</h5>
                      <p><a href="#"> Compre já a sua! </a></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./thermos-677536_1280.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Leve, simples e elegante</h5>
                      <p><a href="#"> Compre já a sua! </a></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <section id="sobre">
          <article class="cor">
            <div id="sobre" class="fs-5 text-white text-center shadow-lg p-3 mb-5 rounded">Sobre nossa empresa</div>
            </article>
            <div class="card p-2 container-sm">
              <div class="card-body card border-dark mb-3">
          <p class="fs-4 text-center"> A nossa empresa coloca em primeiro lugar a saúde e o bem estar do nosso planeta. Com a iniciativa de alunos de escola pública visando contribuir com o meio ambiente.
           Somos apenas dois alunos com muita imaginação, achamos que assim podemos ajudar o mundo e ajudar quem precisa.
          </p>
        </div>
        </div>
        </section>
        <footer>
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" href="#inicio">
                        <img src="./water_FILL0_wght400_GRAD0_opsz48.png" alt="Ondas, e a logo do empresa">
                    </a>
                </div>
            </nav>
        </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>